@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

body {
  @apply bg-black text-white;
  font-family: var(--font-geist);
}

@layer utilities{
 .font-retro {
  font-family: 'Press Start 2P', cursive;
}

.particle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 999;
  filter: blur(1px);
  transition: opacity 0.3s ease;
}
}
